.input {
    border-radius: 30px;
    background-color: #fefcfc6e;
    height: 30px;
    color: black;
    font-weight: 100;
    font-size: 20px;
    width: 50%;
    border-color: transparent;
    padding: 18px 18px 18px 50px;
}

input::placeholder {
    color: rgb(10, 10, 10);
}

input:focus {
    outline-width: 0;
    border: 1px solid black;
}